.layout{
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: rgb(223, 186, 180);
}
@media(max-width: 600px) {
  .layout{
    grid-template-columns: 1fr;
  }
}

.form-grid{
  display:grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
  align-items: center;
}
/* if you added .form-grid and then label you could further specify to narrow in only on those labels of the site*/
label{
  text-align: right;
}


.radio{
  display:flex;

}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;


}
  
input{
  border: 1px solid black;
  padding:5px;
  border-radius:5px;
}

input:invalid:not(:placeholder-shown){
  border: 2px  solid red;


}
input:valid:not(:placeholder-shown){
  border: 2px solid green;
}

input[type="datetime-local"]:invalid:focus {
  border: 2px solid red;
}

input[type="datetime-local"]:valid {
  border: 2px solid green;
}

table, th, td{
  border: 1px solid;
  padding:10px;
  border-collapse: collapse;
}
@media(max-width: 400px){
  aside.sidebar table{
    width: 100%;
  }
  table th, table td{
    padding: 5px;
  }
  aside.sidebar{
    overflow-x: auto;
  }
}

tbody tr:nth-child(even){
  background-color: rgb(226, 203, 172);
}
thead tr{
background-color: rgb(226, 203, 172);
}
  
tfoot tr{
background-color: rgb(226, 203, 172);
}



td:hover{
  background-color: lightyellow;
}